/* Afectan a todo el proyecto */

body {
        font-family: 'Bebas Neue', cursive;
        background-color: #fbfbf2;
        color: #312f2f;
        line-height: normal;
        text-transform: capitalize;
        letter-spacing: 2px;
}

h1 {
    color: #463f3a;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    text-align: left;
}

h2 {
    color: #463f3a;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
